
@{
    ViewBag.Title = "Тренируем Бегуна";
}

<style>
    #values {
        float: left;
        width: 300px;
    }

    #main {
        width: 80%;
        border-left: 1 px;
        margin-left: 300px;

    }
</style>
<div id="values">
    <br />
    @{ var history = (Dictionary<uint, List<Skier_lib.SkierModel>>)ViewBag.history; }
    <p> @Html.ActionLink("Новая тренировка", "NewTraining", "Home", new { @class = "btn btn-primary" })<br /></p>
    <p> @Html.ActionLink("Полная история", "AllHistory", "Home", new { @class = "btn btn-primary" })<br /></p>
    <h5>Наши спортсмены:</h5>
    @foreach (var key in history.Keys)
    {
        if (@history[key].Count != 0)
        {
            @Html.ActionLink("Спортсмен под № "+@history[key][0].id.ToString()+" Имя: "+@history[key][0].name, "NewTraining", "Home",
                                                           routeValues: new {id = key },htmlAttributes: null)<br />
        }

    }

</div>

<div id="main">
    <h1>Программа для расчета возможностей бегуна</h1>
    <h2>Особая благодарность спонсору проэкта, фирме <span style="color:#fbad6b;">Abibas</span> </h2>
    <h2>О садионе:</h2>
    <div>
        Областно́й спорти́вный ко́мплекс «Металли́ст» (укр. Обласний спортивний комплекс «Металіст») — многофункциональный стадион в Харькове, Украина. «Металлист» — центральный стадион города. В основном используется для проведения футбольных матчей. До середины 2016 года являлся местом проведения домашних матчей футбольного клуба «Металлист». С августа 2016 года является домашней ареной «Металлиста 1925». С 2017 года является также временной домашней ареной футбольного клуба «Шахтёр» (Донецк). Вместимость стадиона после реконструкции: 40200 зрителей[1].

        Стадион-участник чемпионата Европы по футболу 2012. Также стадион принимает некоторые матчи сборной Украины по футболу. Стадион и кассовый павильон стадиона занесены в Реестр культурно-национального наследия Украины.
    </div>
</div>