.header_link {
  display: block;
  color: black;
  text-decoration: none;
  display: inline-block;
}
.header_ul {
  margin-left: 10%;
  margin-right: 20px;
}
.header_ul li {
  display: inline;
  margin: 1px;
  padding: 5px;
  background-color: silver;
  border: 2px dashed slategray;
  list-style: none;
}

.header_ul li:hover {
  background-color: slategray;
  border: 2px dashed white;
}

body {
  margin: 0px;
}
.body_div
{
    margin-left: 5%;
}
#focus
{
    background-color: cornflowerblue;
}
